<!-- ESTADO ATUAL: <%= Setting.aceite_automatico? ? 'ON' : 'OFF' %> -->

<div data-controller="aceite-automatico" 
     data-aceite-automatico-url-value="<%= admin_toggle_aceite_automatico_path %>"
     data-aceite-automatico-current-status-value="<%= Setting.aceite_automatico? ? 'on' : 'off' %>">
  
  <% if Setting.aceite_automatico? %>
    <button data-aceite-automatico-target="button" 
            data-action="click->aceite-automatico#toggle"
            class="btn btn-success btn-sm" 
            data-status="on">
      Aceite automático ON
    </button>
  <% else %>
    <button data-aceite-automatico-target="button" 
            data-action="click->aceite-automatico#toggle"
            class="btn btn-outline-secondary btn-sm" 
            data-status="off">
      Aceite automático OFF
    </button>
  <% end %>
</div> 