<div class="modal fade show" style="display:block; background:rgba(0,0,0,0.5);" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar exclusão</h5>
        <button type="button" class="btn-close" data-action="click->modal#close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir o produto <strong><%= product.name %></strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="click->modal#close">Cancelar</button>
        <%= button_to 'Excluir', admin_product_path(product), method: :delete, form: { data: { turbo_frame: 'modal' } }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div> 